<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>snapshots</id>
      <username>${env.NEXUS_USER_USR}</username>
      <password>${env.NEXUS_USER_PSW}</password>
    </server>

    <server>
      <id>releases</id>
      <username>${env.NEXUS_USER_USR}</username>
      <password>${env.NEXUS_USER_PSW}</password>
    </server>

    <server>
      <id>central</id>
      <username>${env.NEXUS_USER_USR}</username>
      <password>${env.NEXUS_USER_PSW}</password>
    </server>

    <server>
      <id>nexus-group</id>
      <username>${env.NEXUS_USER_USR}</username>
      <password>${env.NEXUS_USER_PSW}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>nexus-group</id>
      <name>Nexus Group Repository</name>
      <url>http://${env.NEXUSIP}:${env.NEXUSPORT}/repository/nexus-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
